@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Albert Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .range-thumb::-webkit-slider-thumb {
    @apply h-5 w-5 bg-[#CE603E] rounded-full cursor-pointer;
  }

  .range-thumb::-moz-range-thumb {
    @apply h-5 w-5 bg-[#CE603E] rounded-full cursor-pointer;
  }
}
